include glmtools/io/G16_corner_lut_fixedgrid.pickle
include glmtools/test/data/FGE_split_merge_GLM.nc
include glmtools/test/data/OR_GLM-L2-LCFA_G16_s20181830433000_e20181830433200_c20181830433231.nc
include glmtools/test/data/OR_GLM-L2-LCFA_G16_s20181830433200_e20181830433400_c20181830433424.nc
include glmtools/test/data/OR_GLM-L2-LCFA_G16_s20181830433400_e20181830434000_c20181830434029.nc
recursive-include glmtools/test/data/conus *
recursive-include glmtools/test/data/meso *
recursive-include glmtools/test/data/customsize *
include examples/grid/make_GLM_grids.py